@import "../../variable";

.flower-info {
  padding: 50px 0;

  &__wrapper {
    @include flex(space-between, flex-start);
    padding: 50px 40px 50px 50px;
    background-color: $c-white;
    border-radius: $radius-primary;
    margin-bottom: 40px;
  }

  &__service {
    @include flex(space-between, flex-start);
  }

  &__img {
    max-width: 356px;
    object-fit: cover;
  }

  &__description {
    max-width: 695px;

    h6 {
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 35px;
      color: $c-home-bg;
      font-size: 22px;
    }
  }

  &__rating {
    margin-bottom: 55px;
  }

  &__price {
    @include flex(space-between, center);
  }

  &__reviews,
  &__liked {
    width: 580px;
    min-height: 560px;
    padding: 25px 40px;
    background-color: $c-white;
    border-radius: $radius-primary;
  }
}

.rating-flower {
  &__stars {
    font-size: 22px;

    img {
      margin-right: 10px;
    }
  }

  &__count {
    color: $c-home-bg;
  }
}

.price-flower {
  &__price {
    font-size: 22px;
  }

  &__buttons {
    @include flex(center, center);
  }

  &__favorite {
    position: relative;
    @include flex(space-between, center);
    border: 1px solid $c-primary;
    border-radius: $radius-primary;
    margin-right: 10px;

    .button-add {
      background: transparent;
      color: $c-primary;
      margin-left: 20px;
    }

    &:hover {
      box-shadow: 2px 4px 5px 8px rgba($color: $c-primary, $alpha: 0.3);
    }
  }

  &__cart {
    position: relative;
    @include flex(space-between, center);
    border-radius: $radius-primary;
    margin-right: 10px;
    background-color: $c-primary;

    .button-add {
      margin-left: 20px;
    }

    &:hover {
      box-shadow: 2px 4px 5px 8px rgba($color: $c-primary, $alpha: 0.3);
    }
  }
}
