@import "../../../../variable";
.title {
  margin-top: 102px;
}
.title .col-2 {
  width: 165px;
}
.title .col-3 {
  width: 180px;
}
hr {
  background-color: #d9d9d9;
  height: 2px;
}
h2 {
  font-size: 32px;

  margin-bottom: 33px;
}
@media (max-width: 576px) {
  hr {
    display: none;
  }
  h2 {
    font-size: 28px;
    font-weight: 400;
    margin: 0 auto;
  }
  .title {
    margin-top: 30px;
  }
}
