.AuthReg{

    display: flex;
    justify-content: center;
    margin-top: 88px;
   
}
.AuthReg-body{

    background-color: white;
    width: 488px;


}

.Img{
    width: 488px;
   
}

.Img img {
width: 100%;
height: 100%;
}